body {
    background-color: #fffdd0;
    font-family: 'Georgia', serif;
}

.title {
    font-family: 'Brush Script MT', cursive;
    font-weight: 900;
    font-size: 48px;
}

ul {
    font-weight: 900;
}

li {
    margin-left: 10px;
    padding: 2px
}

.description p {
    display: inline;
}

.nav-list {
    display: flex;
    list-style: none; /* Turn off bullets */
}

.nav-list li {
    flex: 1;
}
